<a href="https://colab.research.google.com/github/PaletteofDesign/pipeline/blob/main/pipelines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

In [3]:
f = '/content/abalone.data'
df = pd.read_csv(f, header=None)
df[:5]

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [10]:
df.rename(columns={0:'Sex', 1:'Length', 2:'Diameter', 3:'Height', 4:'Whole_Weight', 5:'Shucked_Weight', 6:'Viscera_Weight', 7:'Shell_Weight', 8:'Rings'}, inplace=True)
df.head()

  Sex Length Diameter Height  ... Shucked_Weight Viscera_Weight Shell_Weight Rings
0   M  0.455    0.365  0.095  ...         0.2245          0.101         0.15    15
1   M   0.35    0.265   0.09  ...         0.0995         0.0485         0.07     7
2   F   0.53     0.42  0.135  ...         0.2565         0.1415         0.21     9
3   M   0.44    0.365  0.125  ...         0.2155          0.114        0.155    10
4   I   0.33    0.255   0.08  ...         0.0895         0.0395        0.055     7

[5 rows x 9 columns]

In [5]:
df['Sex'] = df['Sex'].map){'M':0, 'F', 1}